.revierbgdiv{
    background:url("../../assets/counter/counter-banner.jpg");
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.9; /* Reduces brightness slightly */
    position: relative;
}


.revierbgdiv::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
}
.reviewTitle{
    font-size: 88px;
    color: #fff;
    font-weight: 700;
}

.reviewDesc{
    font-size: 20px;
    color: #fff;
    font-weight: 700;
}
.ReviewMainDiv{
    z-index: 1;
}