.navMainDiv{

    width: 100%;
    float: right;
}
.navMainDiv, ul li a{
    color: #fff;
  }
  
ul li a:hover{
  color: red;
}

ul li a:active{
  color: red!important;
}

.active-link {
  color: red !important;
  font-weight: bold;
}